<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/master.css">
  <title></title>
</head>

<body>
  <div class="container">
  <h1>Sign-in to access our content!</h1>
  <form class="logForm" action="/authorized" method="post">
    <div class="errorMessage">
      <h2>{{message}}</h2>
    </div>
    <div class="inputField">
      <input type="text" name="username" value="" placeholder="Username">
    </div>
    <div class="passField">
      <input type="text" name="password" value="" placeholder="Password">
    </div>
    <div>
      <input class="button" type="submit" name="" value="Login">
    </div>
</div>
  </form>

</body>

</html>
