body {
  background-color: rgb(63, 125, 190);

}

.button {
  background-color: green;
}

.formClass{
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 125px;
}

form input {
  font-size: 20px;
  padding: 10px 10px;
}
